color-grey-4// GLOBAL

* {
  box-sizing: border-box;

  scroll-margin-top: 100px;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--color-primary);
  font-family: "Garamond", sans-serif;
  font-size: 1.2rem;

  color: var(--color-text-dark);
}

// COLOR VARIABLES
:root {
  --br-sm-2: 30px;
  --color-primary: #ffffff; // Light mode primary color

  --color-white: #ffffff; // background for cards
  --color-card-border: #eceef0; // card-border
  --color-bg-alt: #fafdff; // cards background

  --color-text-dark: #444444; // font color
  --color-text-light: #fafdff; // font color
  --color-border: #b2becd; // Border
  --color-heading: #454e56; // project-card h2

  --color-text-project-detail: #12181b;

  --color-nav-bg: #12181b; // container h2 and nav background color

  --color-footer-bg: #2a2e35; // footer background color
  --color-footer-button-bg: #2a2e35; // footer background color
  --color-footer-text-hover: #fafdff; // footer background color

  // highlight at Experience
  --color-cursor-highlight: #f0f0f0; // Highlight background color for active item
  --color-bullet-color: #345ee9; // Bullet color

  // --color-bullet-color: #00c7ff; // Bullet color
  // FORM
  --transition-all: all 0.4s ease-in-out;
  --transition-1s: all 0.1s ease-in-out;
  --transition-3s: all 0.3s ease-in-out;
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, 0.3);
  --box-shadow-2: 0 1px 5px rgba(0, 0, 0, 0.3);

  // --icon-right-arrow: "\25B6"; // Unicode for a right-pointing triangle (▶)
  --icon-right-arrow: "\25CF"; // Unicode for a right-pointing triangle (▶)
}

// DARK MODE SETTINGS
.dark-mode {
  --br-sm-2: 30px;
  --color-primary: #191d2b;
  --color-primary: #18191a;
  --color-primary: #111821;
  --color-white: #fafdff;
  --color-bullet-color: #f69993; // Bullet color
  --color-bullet-color: #961d15; // Bullet color
  --color-bullet-color: #15965a; // Bullet color
  --color-bullet-color: #64ffda; // Bullet color
  // --color-grey-0: #eceef0; // font
  --color-text-dark: #d1d1d1; // font
  --color-border: #b2becd; // Border
  // --color-beige-3: #fafdff; // cards background
  --color-bg-alt: #3f3f3f; // cards background
  --color-bg-alt: #303846; // cards background
  // --color-bg-alt: #FFFFFFB3; // cards background
  --color-white: #3f3f3f; // background for cards
  --color-white: #303846; // background for cards
  --color-white: #151e29; // background for cards
  // --color-white: #FFFFFFB3; // background for cards
  --color-card-border: #2f2f2f; // card-border
  --color-card-border: #151e29; // card-border
  --color-heading: #fafdff; // project-card h2

  // highlight at Experience
  --color-cursor-highlight: #7c7a7a; // Highlight background color for active item

  --color-footer-bg: #303846;
  --color-footer-button-bg: #fafdff; // footer background color
  --color-nav-bg: #ffffff;
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, 0.3);
}

/* TYPOGRAPHY */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", serif;
}
#container h2 {
  text-align: center;
  color: var(--color-nav-bg);
}
#mainFooter h3 {
  font-weight: 600;
}
a {
  text-decoration: none;
  color: var(--color-text-dark);
}

// LAYOUT
#mainHeader {
  height: 100px; // Explicit height for the header
  position: fixed; // Fixed positioning at the top of the viewport
  width: 100%; // Full width of the viewport
  z-index: 10; // Ensures it stays above other elements
  top: 0; // Position it at the top
  background-color: var(--color-primary); // Background color for visibility
  display: flex;
  flex-direction: column; // Stacks child elements vertically

  .hamburger-menu {
    display: none; // Hide by default for larger screens
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 30px;
    left: 20px;
    z-index: 11;

    i {
      color: var(--color-nav-bg);
    }
  }

  #mainNav {
    display: flex;
    justify-content: space-between; // Space between navigation items
    padding-top: 30px; // Padding at the top of the navigation
    padding-bottom: 20px; // Padding at the bottom of the navigation
    align-items: center; // Center items vertically
    width: 100%; // Full width of the header
    background-color: var(--color-primary); // Background color
    // font-size: 20rem;

    .nav-left {
      margin-left: 150px;
      display: flex;
      align-items: center; /* Center items vertically */

      .first-name {
        font-size: 2rem;
        font-weight: 600;
        color: var(--color-bullet-color);
        // color: red;
      }
      ul {
        margin-left: 50px;

        li {
          display: inline-block; /* Display list items inline */
          padding: 0 20px;
          position: relative; /* Position relative for pseudo-elements */
          font-size: 1.4rem;
          font-weight: 600;
          a {
            position: relative; // Position relative for the link
            text-decoration: none; // Remove underline from links
            color: inherit; // Inherit color from parent
          }
          &::after {
            content: "";
            width: 0;
            height: 3px;
            background: var(--color-grey-1); // Underline color
            position: absolute;
            left: 0;
            bottom: -6px; // Position the underline
            transition: var(--transition-3s); // Smooth transition
          }
          &:hover::after {
            width: 100%; // Expand underline on hover
          }
        }
      }
    }
    .nav-right {
      display: flex;
      transition: var(--transition-1s);
      gap: 75px;
      align-items: center;
      margin-right: 150px;
      position: relative;

      .see-my-work-nav {
        // background-color: var(--color-grey-5);
        border: 1px solid var(--color-border); // Border for navigation item
        padding: 10px 20px; // Padding inside the button
        text-align: center; // Center text inside the button
        text-decoration: none; // Remove underline from text
        cursor: pointer; // Pointer cursor on hover
        border-radius: 30px; // Rounded corners
        position: relative; // Position relative for pseudo-elements
        overflow: hidden; // Hide overflow content

        /* Ensure pseudo-element is below text */
        &::before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: var(--color-nav-bg);
          transform: translateY(100%);
          transition: transform 0.4s ease-out;
          z-index: 0;
        }

        /* Hover effect */
        &:hover::before {
          transform: translateY(0);
        }

        /* Style for link */
        a {
          color: inherit; /* Or use a specific color */
          position: relative;
          z-index: 1;
          transition: color 0.4s ease-out; /* Smooth transition for color change */
        }
        /* Hover effect for link */
        &:hover a {
          color: var(--color-bg-alt);
        }
      }

      button {
        border: none; // Remove default border
        background-color: var(--color-primary);
        cursor: pointer; // Pointer cursor on hover
        &:active {
          transform: translateY(-3px); // Move button up when clicked
          outline: none; // Remove default outline
          // cursor: pointer;
        }

        i {
          font-size: 1.8rem; // Font size for icon
          color: var(--color-border); // Icon color
          // pointer-events: none;
          cursor: pointer; // Pointer cursor on hover
        }
      }
    }
  }
}

#container {
  //  border: 1px solid red;
  width: 1200px; /* Adjust the width as needed */

  display: flex;
  flex-direction: row; // Align children in a row
  justify-content: center; // Center the content horizontally
  align-items: flex-start; // Align items to the start of the flex container
  padding-top: 9rem;
  padding-bottom: 1rem;
  gap: 100px; // Space between the two columns
  // margin-left: 400px;
  // margin-right: 250px;
  background-color: var(--color-primary);

  // margin-left: 50%; /* Center the container */
  // transform: translateX(-50%); /* Correct centering from margin */
  margin: 0 auto;
  position: relative; /* To handle fixed children positions */

  .container-left {
    // border: 1px solid green;
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    position: fixed; // Fixes the position relative to the viewport
    left: 50%; /* Aligns left edge to the center */
    transform: translateX(-100%); /* Shifts it left by its width to center it */
    top: 0; // Start at the top of the viewport
    width: 600px; // Match the width you want
    height: 100vh; // Full viewport height
    background-color: var(--color-primary);
    overflow: auto; // Add scroll if content overflows
    transition: top 0.3s ease; /* Smooth transition */

    &.hidden {
      opacity: 0; // Hide the element
      visibility: hidden; // Prevent interactions when hidden
    }
    #container-left-image {
      width: 200px;
      height: 200px;
      margin-bottom: 25px;
      background-image: url(../images/DSC_0207.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: var(--br-sm-2);
      transition: var(--transition-all);

      &:hover {
        filter: grayscale(100%);
      }
    }

    h1 {
      font-size: 4rem;
      margin-bottom: 10px;
    }
    h3 {
      font-size: 2rem;
      margin-bottom: 10px;
    }

    #container-left-social {
      display: flex;
      padding-top: 15px;

      gap: 25px;
      a {
        color: var(--color-bullet-color);
        transition: color 0.5s ease; /* Smooth color transition */
        &:hover {
          color: var(--color-accent);

          i {
            transform: scale(1.05);
            transition: transform 0.5s ease; /* Smooth transform transition */
          }
        }
      }

      // i:hover {
      //   transform: scale(1.05);
      //   transition: transform 0.3s ease; /* Smooth transition */
      //   color: var(--color-accent);
      // }
    }
  }

  .container-right {
    margin-left: 50%; /* Center relative to parent container */
    display: flex;
    flex-direction: column; // Align content vertically
    gap: 20px; // Space between flex items
    width: 600px;
    z-index: 9; // Ensures it stays above other elements

    h2 {
      text-align: left;
      font-size: 3.5rem;
    }
    p {
      padding-top: 15px;
      font-size: 22.5px;
      line-height: 2rem;
    }

    .contact-me-and-projects {
      display: flex;
      align-items: center;
      align-content: center;
      gap: 20px;

      .contact-me {
        width: 180px;
        padding: 20px;
        border-radius: 100px;
        color: inherit;
        text-align: center;
        text-decoration: none;
        position: relative;
        border: 1px solid var(--color-border);
        background-color: var(--color-grey-8);
        overflow: hidden;
        transition: all 0.4s ease-out;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: var(--color-nav-bg);
          transform: translateY(100%);
          transition: transform 0.4s ease-out;
          z-index: 0;
        }

        /* Hover effect */
        &:hover::before {
          transform: translateY(0);
        }

        a {
          color: var(--color-beige-9);
          position: relative; // Ensure that the link text stays above the pseudo-element
          z-index: 1;
          transition: color 0.4s ease-out; /* Smooth transition for color change */
        }
        &:hover a {
          color: var(--color-bg-alt);
        }
      }
    }

    #frameworks {
      border-top: 1px solid var(--color-border);
      margin-top: 20px;

      h3 {
        font-size: 1.5rem;
        padding-bottom: 25px;
        font-weight: 600;
        text-align: left;
        margin-top: 10px;
      }

      .framework-card {
        h3 {
          font-size: 1.25rem;
          // line-height: 0.5rem;
        }
        li {
          position: relative;
          padding-left: 1.5em; // Indent text to make space for custom bullet
          margin-bottom: 0.5em; // Space between list items
          font-family: Arial, sans-serif; // Font for list items
          font-size: 16px; // Font size
          line-height: 1.3rem;
          // color: #d1d1d1; // Text color

          // Custom bullet style
          &::before {
            content: var(--icon-right-arrow);
            position: absolute;
            left: 0; // Position bullet to the left of the text
            // color: #00c7ff; // Bullet color
            color: var(--color-bullet-color); // Bullet color
            font-size: 0.8em; // Bullet size relative to the text
          }
        }
      }
    }

    #experience {
      border-top: 1px solid var(--color-border);
      margin-top: 20px;
      scroll-margin-top: 90px; /* Adjust this value based on your header height */

      h3 {
        padding-top: 20px;
        font-size: 1.8rem;
        padding-bottom: 35px;
        font-weight: 600;
        text-align: left;
        margin-top: 0;
      }

      // Sass for interactive work experience list

      .workplace-container {
        display: flex;

        .workplace-list {
          width: 35%; // Width for the sidebar
          padding-right: 20px; // Space between sidebar and content

          ul {
            list-style: none; // Remove default list bullets
            padding: 0;

            .workplace {
              cursor: pointer; // Pointer cursor for clickable items
              padding: 10px 10px;
              transition: color 0.3s, background-color 0.3s; // Smooth transition for hover effect
              font-size: 1rem;
              border-radius: 8px; // Rounded corners for hover and active states
              color: inherit;

              &:hover {
                // Keep the hover color when active
                color: var(
                  --color-bullet-color
                ); // Change color on hover or when active
              }

              &.active {
                color: var(--color-bullet-color); // Text color when active
                background-color: var(
                  --color-cursor-highlight
                ); // Highlight background color for active item
              }
            }
          }
        }

        .work-details {
          width: 65%; // Width for the content area
          padding-left: 20px;

          .work-content {
            display: none; // Hide all content by default
            color: var(--color-text-dark); // Text color for content

            line-height: 1.4; // Line height for better readability

            &.active {
              display: block; // Show content when active
            }
            > div:first-child {
              margin-bottom: -2.5rem; // Reduce space after h3
            }

            > div:nth-child(2) {
              margin-top: 0; // Ensure no extra space before the second div
            }

            h3 {
              // line-height: 0.25rem;
              // margin-bottom: 0.01rem;
              font-size: 1.25rem;
              line-height: 1.25rem;
            }

            p {
              font-size: 1rem;
              line-height: 1.4rem;
              span {
                font-weight: 600;
              }
            }
            li {
              position: relative;
              padding-left: 1.5em; // Indent text to make space for custom bullet
              margin-bottom: 0.5em; // Space between list items
              font-size: 16px; // Font size

              // Custom bullet style
              &::before {
                content: var(
                  --icon-right-arrow
                ); // Unicode for a right-pointing triangle (▶)
                position: absolute;
                left: 0; // Position bullet to the left of the text
                color: var(--color-bullet-color); // Bullet color
                font-size: 0.8em; // Bullet size relative to the text
              }
            }
          }
        }
      }

      .experience-card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
        position: relative;
        border-radius: 100px;
        padding: 15px 20px;
        margin-bottom: 20px;
        background-color: var(--color-white);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        border: 3px solid var(--color-card-border);

        .experience-left {
          width: 70px;
          height: 70px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          background-color: var(--color-primary);
          font-size: 1.5rem;
          margin-right: 50px;
        }

        .experience-right {
          display: flex;
          flex-direction: column;
          justify-content: center;

          h4 {
            font-size: 1.4rem;
            color: #333;
            font-weight: normal;
            margin: 0;
          }

          h5 {
            font-size: 1.2rem;
            color: #666;
            font-weight: 400;
            margin-top: 5px;
            margin-bottom: 0;
          }

          &:last-child {
            margin-left: auto; // Pushes date to the far right
            text-align: right; // Aligns text to the right
          }
        }
      }
    }

    #certification {
      border-top: 1px solid var(--color-border);
      margin-top: 20px;
      scroll-margin-top: 80px; /* Adjust this value based on your header height */
      h3 {
        padding-top: 20px;
        font-size: 1.8rem;
        padding-bottom: 35px;
        font-weight: 600;
        text-align: left;
        margin-top: 0;
      }

      .certification-card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
        position: relative;

        .certification-left {
          // width: 70px;
          height: 70px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          background-color: var(--color-primary);
          font-size: 1.2rem;
          margin-right: 50px;
        }

        .certification-right {
          h4 {
            // font-size: 1.4rem;
            // color: #333;
            // font-weight: normal;
            margin: 0;
            //  background-color: red;
          }

          h5 {
            font-size: 1.2rem;
            color: #666;
            font-weight: 400;
            margin-top: 5px;
            margin-bottom: 0;
          }

          &:last-child {
            // margin-left: auto; // Pushes date to the far right
            text-align: right; // Aligns text to the right
          }
        }
      }
    }

    #projects {
      border-top: 1px solid var(--color-border);
      margin-top: 20px;
      border-bottom: 1px solid var(--color-border);
      padding-bottom: 20px;
      scroll-margin-top: 70px; /* Adjust this value based on your header height */

      h3 {
        font-size: 1.8rem;
        padding-bottom: 35px;
        font-weight: 600;
        text-align: left;
        margin-top: 30px;
      }

      .project-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: var(--color-text-project-detail);

        .project-card-title {
          margin-bottom: 15px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          h2 {
            color: var(--color-heading);
            font-size: 1.5rem;
            line-height: 1.1rem;
            color: var(--color-bullet-color); // Bullet color
          }

          .project-links {
            display: flex;
            gap: 30px;
            align-items: center;
            color: var(--color-footer-button-bg);

            a {
              color: var(--color-bullet-color);
              transition: color 0.5s ease; /* Smooth color transition */

              &:hover {
                color: var(--color-accent); /* Change link color on hover */

                i {
                  transform: scale(1.05); /* Slight scaling for icon on hover */
                  transition: transform 0.5s ease; /* Smooth transform transition */
                }
              }

              /* This will apply to the button inside the link when hovered */
              button:hover {
                background-color: var(
                  --color-accent
                ); /* Change button background on hover */
                color: var(
                  --color-text-dark
                ); /* Change text color to white for contrast */
                transform: scale(1.05); /* Slight scaling effect */
                transition: background-color 0.5s ease, transform 0.5s ease; /* Smooth transition */
              }
            }

            button {
              color: var(--color-text-project-detail);
              padding: 5px 10px; /* Adjust padding for button size */
              border-radius: 50px; /* Creates rounded ends */
              cursor: pointer;
              border: 1px solid var(--color-border);
              transition: background-color 0.5s ease, transform 0.5s ease; /* Smooth transition */
            }
          }
        }

        .project-card-images {
          display: flex;
          flex-direction: row; // Align images horizontally
          overflow: hidden; // Hide overflow if images are larger than container
          border-radius: 15px;
          height: 400px;
          gap: 20px;

          .project-card-image-left,
          .project-card-image-right {
            flex: 1; // Default flex property
          }
          .project-card-image-left {
            flex: 2; // 2/3 of the space
            padding: 15px;
            background-color: rgb(168, 168, 201);

            img {
              object-fit: cover; // Ensure image covers the container
              width: 100%; // Full width of the container
              height: auto; // Maintain aspect ratio
              margin-bottom: 10px; // Add a gap between the images
              &:last-child {
                margin-bottom: 0; // Remove margin for the last image to avoid extra space
              }
            }
          }

          .project-card-image-right {
            flex: 1; // 1/3 of the space
            img {
              object-fit: cover; // Ensure image covers the container
              width: 100%; // Full width of the container
              height: auto; // Maintain aspect ratio
            }
            ul {
              display: flex;
              gap: 10px;
              font-size: 15px;
            }
          }

          p {
            line-height: 1.3rem;
            font-size: 1rem;
          }
        }

        .project-card-info {
          display: flex;
          flex-direction: column;

          margin-top: 10px;

          .project-card-intro {
            // display: flex;
            justify-content: center;
            align-items: center; // Centers content vertically
            gap: 20px; // Adds gap between elements
            background-color: #f0f0f0; // Highlight background color for active item
            border-radius: 8px; // Rounded corners for hover and active states

            p {
              // margin: 3% 0%;
              line-height: 1.3rem;

              font-size: 1rem;
              padding: 10px;
            }
          }
        }

        // Target 2nd .project-card and its .project-card-image-left child
        &:nth-of-type(2) .project-card-image-left {
          background-color: rgb(41, 41, 121); // Change to your desired color
        }

        // Target 3rd .project-card and its .project-card-image-left child
        &:nth-of-type(3) .project-card-image-left {
          background-color: rgb(102, 66, 8); // Change to your desired color
        }
      }
      li {
        line-height: 100px;
      }
    }

    .other-projects-card-title {
      h3 {
        font-size: 1.8rem;
        padding-bottom: 35px;
        font-weight: 600;
        text-align: left;
        margin-top: 30px;
      }
    }

    .other-projects-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow: hidden; // Prevents overflow of child elements

      .other-project-detail {
        padding: 10px; /* Add padding for better clickability */
        display: flex;
        margin-top: 10px;
        background-color: #f0f0f0; // Highlight background color for active item
        color: var(--color-text-project-detail);
        border-radius: 8px; // Rounded corners for hover and active states
        align-items: center; // Aligns items vertically in the center
        position: relative; // Needed for pop-up positioning
        transition: all 0.3s ease; /* Added general transition for all hover effects */

        &:hover {
          background-color: #e0e0e0; // Change background color on hover
          transform: scale(1.02); // Slight zoom effect
          &:hover {
            background-color: #e0e0e0;
            transform: scale(1.02);
          }

          // &:hover .popup {
          //   visibility: visible;
          //   opacity: 1;
          //   transition-delay: 0s;
          // }
        }
        .other-project-detail-image {
          flex: 1;
          max-width: 33.33%; // Ensures it doesn't exceed 1/3 of the total width
          margin-right: 20px; // Adds some spacing between the image and the text
          img {
            width: 100%; // Makes sure the image fills the container
            height: auto; // Maintains the aspect ratio of the image
            transition: transform 0.3s ease; // Smooth transition for hover effect
          }
        }
        .other-project-links {
          flex: 2;
          margin-top: 3%;
          gap: 30px;
          .other-projects-card-heading {
            padding: 0.5rem;
          }
          a {
            text-decoration: none;
            color: inherit; /* Inherit color from parent */
            transition: color 0.3s ease, background-color 0.3s ease; /* Smooth transition for hover effects */

            &:hover {
              color: #007bff; /* Highlight text color on hover */
              background-color: #e0e0e0; /* Background color change on hover */
            }

            &.active {
              color: #0056b3; /* Text color when active */
              background-color: #d0d0d0; /* Background color when active */
            }
          }
        }

        p {
          line-height: 1.3rem;
          font-size: 1rem;
          padding: 10px;
        }

        // Pop-up styling
        .popup {
          visibility: hidden;
          opacity: 0;
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translateX(-50%);
          background-color: white;
          padding: 10px;
          border-radius: 8px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          transition: opacity 0.3s ease, visibility 0s linear 0.3s;
          z-index: 10;
        }
      }

      // Target 2nd .project-card and its .project-card-image-left child
      &:nth-of-type(2) .project-card-image-left {
        background-color: rgb(41, 41, 121); // Change to your desired color
      }

      // Target 3rd .project-card and its .project-card-image-left child
      &:nth-of-type(3) .project-card-image-left {
        background-color: rgb(102, 66, 8); // Change to your desired color
      }
    }

    #contactForm {
      border-top: 1px solid var(--color-border);
      margin-top: 20px;

      h3 {
        font-size: 1.8rem;
        padding-bottom: 35px;
        font-weight: 600;
        text-align: left;
        margin-top: 30px;
      }

      .form-card {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-radius: 15px;
        padding: 20px;
        margin-bottom: 20px;
        background-color: var(--color-white);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        border: 3px solid var(--color-card-border);

        .contact-form {
          width: 100%;
          margin-left: 0;

          .input-control {
            margin: 1.5rem 0;
            width: 100%;
            cursor: pointer;
            position: relative;
            overflow: hidden;

            input,
            textarea {
              outline: none; /* Removes the default outline */
              border-radius: 30px;
              padding: 0.8rem 1.1rem;

              background-color: var(--color-bg-alt);
              width: 100%;
              resize: none;
              border: 1px solid var(--color-border);
              caret-color: var(
                --color-bullet-color
              ); /* Use your desired color variable or hex code */
            }

            .submit-btn {
              width: 30%;
              border-radius: 30px; // Ensure rounded edges for button
              padding: 0.8rem 1.1rem;
              position: relative; // For the pseudo-element positioning
              z-index: 1; // Ensure button content stays above the pseudo-element
              color: var(--color-text-dark); // Initial text color
              background-color: var(
                --color-primary
              ); // Initial background color
              border: 1px solid var(--color-border); // Optional: add a border
              cursor: pointer; // Pointer on hover
              font-size: 1.1rem;
              text-align: center;
              overflow: hidden; // Hide overflow to allow sliding effect
              transition: color 0.4s ease-out, background-color 0.4s ease-out;

              // Pseudo-element for hover effect
              &::before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: var(
                  --color-nav-bg
                ); // Background color on hover
                transform: translateY(100%); // Initially hide pseudo-element
                transition: transform 0.4s ease-out; // Smooth transition on hover
                z-index: -1; // Ensure pseudo-element stays behind the text
              }

              &:hover::before {
                transform: translateY(0); // Slide the pseudo-element into view
              }

              &:hover {
                color: var(
                  --color-white
                ); // Change text color to white on hover
              }
            }
          }

          .input-control-two {
            display: flex;
            gap: 1.5rem;

            // @media screen and (max-width: 768px) {
            //   flex-direction: column;
            // }
          }
        }
      }
    }
  }
}

#footer {
  display: flex;
  flex-direction: row; // Align items horizontally
  justify-content: space-between; // Distribute space between items
  align-items: center; // Align items vertically within the footer
  padding: 30px; // Add padding for spacing
  margin: 0 auto; // Center the footer
  border-radius: 200px; // Rounded corners
  background-color: var(--color-footer-bg);
  // color: #000;
  color: var(--color-text-light); // Text color for content

  overflow: hidden;
  position: relative; // Allows the use of z-index
  z-index: 10; // Higher z-index to ensure it appears above other elements
  margin-bottom: 50px;
  width: 1400px;
  padding-left: 30px;
  padding-right: 30px;
  padding: 50px;
  gap: 75px;

  .left-footer {
    display: flex;
    flex-direction: row; // Align items horizontally
    align-items: center; // Center items vertically within left-footer
    gap: 30px; // Spacing between elements

    // color: var(--color-primary);
    // flex: 1; // Allow left-footer to grow and fill space

    .footer-image {
      position: relative;
      width: 100px;
      height: 100px;
      background-image: url(../images/DSC_0207.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 50%;
      transition: transform 0.3s ease; // Smooth transition for scale effect

      &:hover {
        transform: scale(1.05); // Subtle zoom-in effect on hover
      }
    }

    .footer-name {
      text-align: left; // Center text inside footer-name
      h3 {
        font-size: 2.5rem; // Adjusted font size
        margin: 0; // Remove default margin
      }
      h4 {
        font-size: 1.5rem; // Adjusted font size
        margin: 0.5rem 0; // Margin for spacing between h4 and p
      }
      p {
        margin: 0; // Remove default margin
        line-height: 1.5; // Adjusted line height
      }
      a {
        color: var(--color-text-light); // Link color
        text-decoration: none; // Remove underline
        transition: color 0.3s ease; // Smooth transition for color change

        &:hover {
          color: var(--color-accent); // Change link color on hover
        }
      }

      .footer-social {
        display: flex;
        gap: 20px;
        font-size: 1.5rem;

        a {
          color: var(--color-bullet-color);
          transition: color 0.5s ease; /* Smooth color transition */

          &:hover {
            color: var(--color-accent);

            i {
              transform: scale(1.05);
              transition: transform 0.5s ease; /* Smooth transform transition */
            }
          }
        }
      }
    }
  }

  .footer-about {
    display: grid;
    grid-template-columns: repeat(2, 1fr); // Two equal-width columns
    gap: 20px; // Space between columns
    text-align: center;
    margin-top: 20px; // Add spacing between footer-about and other sections
    flex: 2; // Allow footer-about to grow and fill more space
    a {
      color: inherit;
      text-decoration: none;
      margin: 0 15px; // Horizontal spacing between links
      font-size: 1.2rem; // Adjust font size
      transition: color 0.3s ease;

      &:hover {
        color: var(--color-accent);
      }
    }
  }

  .footer-button {
    display: flex;
    flex-direction: row; // Align items horizontally
    justify-content: center;
    gap: 20px; // Spacing between contact and projects links
    margin-top: 20px;
    flex: 1; // Allow footer-button to grow and fill space
    color: var(--color-text-project-detail);
    .contact-me-and-projects {
      display: flex;
      align-items: center;
      align-content: center;
      gap: 20px;

      .contact-me {
        width: 150px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 100px;
        color: inherit;
        text-align: center;
        text-decoration: none;
        position: relative;
        border: 1px solid var(--color-border);
        background-color: var(--color-grey-8);
        background-color: white;
        overflow: hidden;
        transition: all 0.4s ease-out;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: var(--color-footer-button-bg);
          transform: translateY(100%);
          transition: transform 0.4s ease-out;
          z-index: 0;
        }

        /* Hover effect */
        &:hover::before {
          transform: translateY(0);
        }

        a {
          color: inherit;
          position: relative; // Ensure that the link text stays above the pseudo-element
          z-index: 1;
          transition: color 0.4s ease-out; /* Smooth transition for color change */
        }
        &:hover a {
          color: var(--color-footer-text-hover);
        }
      }
    }
  }
}

// Independent Components

.card {
  border-radius: 10px;
  padding: 15px 20px 10px 20px;
  margin-bottom: 20px;
  // color: var(--color-grey-4);
  color: var(--color-text-dark); // Text color for content
  background-color: var(--color-white);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border: 3px solid var(--color-card-border);
  transition: transform 0.3s ease, box-shadow 0.3s ease; // Smooth transition for hover effects

  &:hover {
    transform: translateY(-2px); // Slightly lifts the card on hover
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); // Adds a deeper shadow on hover
  }
}

// For screens smaller than 992, 768px, 480px (e.g., very small devices)

@media screen and (max-width: 1024px) {
  body,
  html {
    overflow: -moz-scrollbars-none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    scrollbar-width: none; /* For Firefox */
    // max-width: 300px;
  }

  /* For WebKit-based browsers */
  ::-webkit-scrollbar {
    display: none;
  }

  #mainHeader {
    .hamburger-menu {
      display: block; // Show hamburger menu
      cursor: pointer;
    }

    #mainNav {
      display: none; // Hide the menu by default
      flex-direction: column;
      align-items: flex-start;
      padding: 0;
      text-align: left;
      justify-content: flex-start;
      margin-top: 50px; // Space below the header

      .nav-left {
        width: 100%;
        margin: 20px 0 0 0; // Space between top and left menu items
        text-align: left;

        ul {
          flex-direction: column;
          margin-left: 20px;

          li {
            display: block;
            padding: 10px 0;
            font-size: 0.75em;
            line-height: 1em;

            a {
              text-align: left;
            }
          }
        }
      }

      .nav-right {
        width: 100%;
        margin: 0 0 0 17px; // Space between top and left menu items

        .see-my-work-nav {
          border: none;
          padding: 0;
          width: 100%;
          margin-bottom: 10px; // Space between "See my work" and theme button
          font-weight: 600;
          font-size: 0.75em;
          line-height: 3em;
          border-radius: 0;
          text-align: left;
          margin-left: 3px;

          &::before {
            background-color: transparent;
            transform: none;
          }

          a {
            color: inherit;
            text-decoration: none;
          }

          &:hover {
            background-color: transparent;
            color: inherit;
            text-decoration: none;
            &::before {
              transform: none;
            }
            a {
              color: inherit;
            }
          }
        }

        .theme-btn {
          width: 100%;
          text-align: left;
          display: none;
          i {
            margin-left: 20px;
            margin-bottom: 20px;
          }
        }
      }
    }

    &.active #mainNav {
      display: flex; // Show the menu when active
    }

    &.collapsed #mainNav {
      display: none; // Hide the menu when active and collapsed
    }

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Apply shadow to the header
  }

  #container {
    padding-top: 10rem; // Adjust padding
    gap: 10px; // Reduce space between columns
    flex-direction: column;
    width: 100%; // Full width for smaller screens
    align-items: center;

    .container-left {
      position: relative;
      width: 100%; // Full width for smaller screens
      left: 0%; // No horizontal shift
      transform: none; // Reset horizontal shift
      padding: 0;
      height: 450px;

      #container-left-image,
      #container-left-social,
      h1,
      h3 {
        margin-left: 5%;
      }
      // display: none;
    }

    .container-right {
      width: 100%;
      margin: 0;

      .passion {
        margin: 5%;
      }
      // padding: 0;
      #projects {
        // padding: 5%;
        border-bottom: none;
      }
      .project-card-images {
        height: auto; // Auto height for images
      }
      .project-card-info {
        .project-card-intro {
          p {
            font-size: 0.9rem; // Adjust font size
          }
        }
      }

      #frameworks,
      #experience,
      #certification,
      #projects,
      #contactForm {
        border-top: none;
      }
    }

    #experience {
      .workplace-container {
        flex-direction: column;

        .workplace-list {
          ul {
            display: flex;
          }

          .workplace {
            text-wrap: nowrap;
          }
        }

        .work-details {
          width: auto;
          .work-content {
            h3 {
              // padding-bottom: 5px;
              margin-left: 0;
            }
            min-width: 230px;
            //  background-color: red;
          }
        }
      }
    }

    #certification {
      .certification-card {
        .certification-left,
        .certification-right {
          width: 230px;
          h4 {
            font-size: 0.85em;
            // text-wrap: nowrap;
          }
        }
      }
    }
  }

  #footer {
    // display: none;
    flex-direction: column;
    width: 100%;
    padding: 50px 0 50px 0;
    margin: auto;
    border-radius: 0%;
    gap: 5px;

    .left-footer {
      .footer-image {
        display: none;
      }
      .footer-name {
        text-align: center;
      }
    }
    .footer-about {
      display: flex;
      flex-direction: column;
    }
    .contact-me-and-projects {
      flex-direction: column;
    }
  }

  .card {
    margin: 5%;
  }
  h3 {
    margin-left: 10px;
  }
}
